<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ToDoListConnectionString" connectionString="Data Source=NAOTILUS\SQLEXPRESS;Initial Catalog=ToDoList;Integrated Security=True;Encrypt=True;Trust Server Certificate=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>